{% extends "layout.html" %}
{% block title %}Encode{% endblock %}
{% block content %}
    <div class="container">
      <div id="header">
        <h3 class="text-muted"style="color:white">Save Your newly Encoded Image</h3>
      </div>
      <hr/>
      <div>
	<form>

	<img src = "{{filename}}" alt="The context image you have uploaded is too small for the hidden image to fit in. Please choose a larger context image."/>
	<a href="/"class="btn btn-default btn-lg" role = "button">Return Home</a>
	
<!-- url_for('uploaded_file',filename= -->
        	
      </form>
      </div>
    </div>
	<p>
<div id = "footer">Copyright &copy Sus Messages</div></p>
{% endblock %}
