{% extends "layout.html" %}
{% block title %}Encode{% endblock %}
{% block content %}
    <div class="container">
      <div id="header">
        <h3 class="text-muted"style="color:white">Upload Image to Hide</h3>
      </div>
      <hr/>
      <div>

	<form action="upload2" method="post" enctype="multipart/form-data">
        	<input type="file" name="hiddenFile"><br /><br />
        	<input type="submit" value="Upload">
      </form>
      </div>
    </div>
	<div id = "footer">Copyright &copy Sus Messages</div></p>
{% endblock %}
