{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id = "header">
<h1 style="color:white"><font size = "700">Sus Messages</h1>
</div>
</br>
</br>



<div id = "header">	
   <a href="/encode"class="btn btn-default btn-lg" role = "button">Encode secret message</a>
   <a href="/decode"class="btn btn-default btn-lg" role = "button">Decode secret message</a>
</div>
<p>
<div id = "footer">Copyright &copy Sus Messages</div></p>
<div id = "box"> </div>
{% endblock %}
  


